[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "morrowplots"]
	path = morrowplots
	url = https://github.com/sandical/morrowplots
